*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    margin:50px;
    line-height: 60px;
}
button{
    padding:10px;
    margin:5px;
    border-radius: 5px;
    /* color: white; */
}

#button1{
    background-color: red;

}
#button2{
    background-color: blue;

}
#button3{
    background-color: green;

    
}
#button4{
    background-color: yellow;

    
}